<div class="search-page">
	<% if @posts.exists? %>
		<h1>Top Results</h1>
	<% else %>
		<h1>No Results.</h1>
	<% end %>

	<div class="user-posts">
		<% @posts.each do |post| %>
			<div class="wrapper">
				<%= link_to post.title, post_path(post) %>
			</div>
		<% end %>
	</div>
</div>
