
<div class='homepage'>
  <h1>Welcome to <b>Lex</b>.</h1>
  <div class='form-upload'>
    <%= render 'upload_form' %>
  </div>
  <div class="posts"> 
    <% @posts.each do |post| %> 
      <section class="post"> 
        <div class="user"> 
            <div class="username"> 
              <%= post.user.username %> 
            </div> 
        </div> 
        <div class="title">
          <%= post.title %> 
        </div>
        <div class="description"> 
          <%= post.description %> 
        </div>
      </section> 
    <% end %> 
  </div>
</div>
